<body>
    <div class="table-1">
        <h1><b>Ultimas reservas</b></h1>
    </div>
    
    <div id="table-2">
        <h2>Reservas activas</h2>
    </div>
    
    <div id="table-3">
        <h2>Reservas pasadas</h2>
    </div>
    
    <div id="table-4">
    <table class="table-4">
        <tr>
            <h3><b>Estacionamiento XYZ</b></h3>
        </tr>
        <tr>
            <H4><b>Para:</b> Hoy 11:30 hrs</H4>
        </tr>
        <tr>
            <td>Quedan 10 minutos...</td>
        </tr>
        <tr>
        <button class="btn_pro" mat-raised-button>Prosponer</button>
        </tr>
    </table>
    </div>
    
    <div id="table-5">
        <table class="table-5">
            <tr>
                <h3><b>Estacionamiento Pedro</b></h3>
            </tr>
            <tr>
                <td>Ayer: 12:00 - 16:00 hrs</td>
            </tr>
            <tr>
                <button class="btn_cal" mat-raised-button>Calificar</button>
                </tr>
        </table>
        </div>
</body>
    