<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Barra de navegación</title>

</head>

<body>
    <h1>Perfil de usuario</h1>
    <div class="line-1"></div>
    <div class="grid">
        <div class="a">
            <input type="text" name="" placeholder="First Name"><br>
            <input type="text" name="" placeholder="Last Name">
        </div>
        <div class="b">
            <p>Usuario de SlotFinder desde:</p>
            <p>Hace 2 días</p>
            <p>Vinculación (privado):</p>
            <input type="email" name="" placeholder="Email"><br>
            <input type="text" name="" placeholder="Phone Number">
        </div>
        <div class="c"><p>Usuario verificado</p></div>
        <div class="d"><button>Edit</button></div>
    </div>

</body>
</html>