.grid{
    display: grid;
    padding: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 15px;
}

.line-1{
    height: 1px;
    background:black;
}

h1{
    font-weight: bold;
    text-align: center;
}

p{
    margin-left: 15%;
}