<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span>Roomies</span>
    <span class="default-spacer"></span>
    <div style="display: flex;flex-direction: row">
      <div >
        <a mat-flat-button  routerLink="/" routerLinkActive="active">Home</a>
        <a mat-flat-button  routerLink="/search-property" routerLinkActive="active">Buscar Inmueble</a>
        <a mat-flat-button *ngIf="isLandlord" routerLink="/add-post" routerLinkActive="active">Publicar Anuncio</a>
        <a mat-flat-button *ngIf="!isLandlord" routerLink="/search-leaseholder" routerLinkActive="active">Buscar Roomate</a>
      </div>
      <div *ngIf="!isLoggedIn">
        <a mat-flat-button  routerLink="/register" routerLinkActive="active">Registrarse</a>
        <a mat-flat-button  routerLink="/log-in" routerLinkActive="active">Iniciar Sesión</a>
      </div>
      <div *ngIf="isLoggedIn">
        <a mat-flat-button *ngIf="isLandlord" [routerLink]="'/home-landlord'">{{username}}</a>
        <a mat-flat-button *ngIf="!isLandlord" [routerLink]="'/home-leaseholder'">{{username}}</a>
        <a mat-flat-button  href (click)="logout()">Cerrar Sesión</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>


<footer style="background-color: rgb(251,163,26); width: 100%;height: 100px;display: flex;flex-direction: column">
  <div style="height: 20%"></div>
  <div style="display: flex;flex-direction: row;width: 90%;height: 60%;margin: auto">
    <h2 style="font-weight: bolder">Roomies 2021</h2>
    <div style="margin-left: 70%">
      <button mat-icon-button><mat-icon>facebook</mat-icon></button>
      <button mat-icon-button><mat-icon>facebook</mat-icon></button>
      <button mat-icon-button><mat-icon>facebook</mat-icon></button>
      <button mat-icon-button><mat-icon>facebook</mat-icon></button>
    </div>
  </div>
  <div style="text-align: center; width: 100%;height: 20%">
    <p>2021-Roomies</p>
  </div>
</footer>
