<mat-card class="title">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title >
                <h2>My parking information</h2>
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
</mat-card> <br><br>

<div class="row">
    <div class="column">
        <mat-card-title >
            <h1 class="title">Estacionamiento XYZ</h1> <br>
            <button class="btn_primary" mat-raised-button>Edit information</button>
        </mat-card-title>
        <mat-list>
            <mat-list-item style="height: 20%;">
                <div style="margin-left: 20%;">
                    <img src="../../assets/parking1.png" style="width: 80%;" >
                </div>
            </mat-list-item>
            
            <mat-divider></mat-divider><br>

            <mat-list-item style="height: 25%;">
                <div class="parkingFee">
                    <strong>Parking fee</strong><br>
                    s/.<strong>5.00</strong> per hour
                </div>
                
               
            </mat-list-item><br>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="containerStatus">
                    <div class="row">
                        <div class="column">
                            Status: 
                        </div>
                        <div class="column">
                            <div class="status">
                                4 slots avalible <mat-icon>arrow_drop_up</mat-icon>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                

            </mat-list-item>
         </mat-list>
    </div>

    <div class ="column">
        <mat-list>
            <mat-list-item style="height: 25%;">
                <div class="container">
                    <strong>Ubicacion</strong><br>
                    Av. el Polo 5566 - Surco
                </div>
                
               
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item style="height: 25%;">
                <div class="container">
                    <strong>Horario de atencion</strong><br>
                    Lun - Dom: 7:00 - 21:00
                </div>
                
               
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item style="height: 25%;">
                <div class="container">
                    <strong>Descripcion</strong><br>
                    Cuidamos de su vehiculo!<br>
                    Nos encontramos al lado del parque Cayalti
                </div>
                
               
            </mat-list-item>
            <mat-divider></mat-divider>

        </mat-list>



    </div>
</div>





